.product{
    flex: 4;
    padding: 20px;
}
.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.productInfoTopImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.productTop{
    display: flex;
}
.productTopLeft,
.productTopRight{
    flex: 1;
}

.productTopRight{
    padding: 20px;
    margin: 20px;
}